html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

/* Header styling */

header {
    height: 69px;
    width: 100%;
    position: fixed;
    z-index: 10;
    background-color: black;
    border-bottom: 1px solid seashell;
    margin: 0;
    top: 0;
}
header img {
    height: 50px;
    padding: 10px; 
    float: left;
}

header ul {
    list-style-type: none;
    display: inline;
    float: right;
}

header li {
    display: inline-block;
    text-align: right;
    margin: 10px;
}

header a {
    color: seashell;
}

/* Mission section styling */

.hero {
    background-image: url('images/img-mission-background.jpg');
    height: 700px;
    width: 1200px;
    margin: 70px auto 0;
    display: flex;
    align-items: center;
}

.banner {
    width: 1200px;
    background-color: black;
}

/* Teas section styling */

.teas .container {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}

.teas img {
    height: 200px;
    width: 300px;
    margin: 25px 15px 10px;
}

.teas h4 {
    margin: 0;
    padding: 0; 
}

/* Locations section styling */

.locations {
    width: 1200px;
    height: 500px;
    background-image: url('images/img-locations-background.jpg');
    margin: 75px auto 0;
}

.locations h2 {
    padding-top: 50px;
    margin: 0;
}

.locations .container {
    display: flex;
    justify-content: center;
}

.locations .container div {
    background-color: black;
    opacity: 1;
    width: 300px;
    margin: 15px 20px;
}

p {
    line-height: 2em;
}

/* footer styling */

footer h2 {
    position: relative;
    top: -20px;
}

.contact {
    height: 200px;
    margin: 20px 0;
}

#copyright {
    text-align: left;
    margin: 20px;
}